<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt:pension:collect:fee" xsi:type="object">\Praxigento\PensionFund\Cli\Collect\ProcessingFee</item>
            </argument>
        </arguments>
    </type>

</config>